src/main/resources/static/tables/** linguist-vendored
src/main/resources/static/img/** linguist-vendored
src/main/resources/static/fonts/** linguist-vendored
src/main/resources/static/css/** linguist-vendored
src/main/resources/static/css/portal-styles.css linguist-vendored=false
src/main/resources/static/css/tabs.css linguist-vendored=false
src/main/resources/static/js/bootstrap*.js linguist-vendored
src/main/resources/static/js/jquery*.js linguist-vendored
src/main/resources/static/js/moment*.js linguist-vendored
src/main/resources/static/js/selectize*.js linguist-vendored
src/main/resources/static/js/sweetalert*.js linguist-vendored
src/main/resources/static/js/tooltipster*.js linguist-vendored