:root {
  --main-bg-color: rgb(250, 250, 250);
}

body {
  background-color: var(--main-bg-color) !important;
  overflow-y: hidden;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 15% auto;
}

div.centered tr {
  display: flex;
  text-align: center;
  justify-content: center;
}

.centered-top {
  margin: auto;
  width: 95%;
}

.app-logo {
  float: left;
  margin-top: 6%;
  margin-right: 10px;
  filter: invert(100%);
}

.form {
  background-color: #bce8f1;
  border-radius: 30px;
  border-style: solid;
  padding: 35px;
  margin: 10% 32%;
}

div.DTE_Header.modal-header {
  background-color: var(--main-bg-color);
}

div.DTE_Header_Content {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

div.DTE_Form_Error {
  font-weight: bold;
}

table.dataTable tbody tr td {
  vertical-align: middle;
}

thead.tablebar {
  background-color: palegoldenrod;
}

.table-striped > tbody > tr:nth-child(even) > td {
  background-color: #f1f1f1;
}

.unread {
  font-weight: bold;
}

.large-text {
  font-size: large;
}

.customalert {
  font-size: 1.75rem !important;
}

p.date {
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 3px;
}

p.message {
  margin-bottom: 0;
}

h6.comment {
  margin-bottom: 0;
  margin-top: 5px;
  font-style: italic;
}

div.selectize-dropdown {
  z-index: 2001
}

.glyphicon {
  font-size: 125%;
  vertical-align: text-bottom;
}

.message-badge {
  position: absolute;
  border-radius: 50%;
  top: -1px;
  right: 5px;
  padding: 0 3px;
  background: red;
  color: white;
  font: 12px Helvetica;
  font-weight: bold;
}

.btn.editor {
  margin-right: 10px;
}

.btn.message {
  margin-top: 10px;
}

.btn.btn-link.navbar-btn {
  text-decoration: none;
}

.editor_create, .editor_edit, .editor_remove {
  text-decoration: none !important;
}