<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:replace="head::head"></object>
    <link rel="stylesheet" th:href="@{/css/tabs.css}">
    <link rel="stylesheet" th:href="@{/tables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/tables/Editor-1.9.2/css/editor.bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/sweetalert2.min.css}">
</head>
<body>
<nav th:replace="menu::menu"></nav>
<div class="centered-top">
    <div class="tabs-horizontal">
        <button class="tab-button" id="btn-users" th:text="#{users.list}"></button>
        <button class="tab-button" id="btn-roles" th:text="#{roles.list}"></button>
        <button class="tab-button" id="btn-genres" th:text="#{genres.list}"></button>
    </div>
    <div class="tab-hor-content" id="users">
        <table class="table table-striped" id="user_table">
            <thead>
            <tr>
                <th th:text="#{id}"></th>
                <th th:text="#{login.textfield}"></th>
                <th th:text="#{email}"></th>
                <th th:text="#{blocked}"></th>
                <th th:text="#{date.register}"></th>
                <th th:text="#{date.last.login}"></th>
                <th th:text="#{roles.list}"></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tab-hor-content" id="roles">
        <table class="table table-striped" id="role_table">
            <thead>
            <tr>
                <th th:text="#{id}"></th>
                <th th:text="#{name}"></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tab-hor-content" id="genres">
        <table class="table table-striped" id="genre_table">
            <thead>
            <tr>
                <th th:text="#{id}"></th>
                <th th:text="#{name}"></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script th:src="@{/tables/datatables.min.js}"></script>
<script th:src="@{/tables/Editor-1.9.2/js/dataTables.editor.min.js}"></script>
<script th:src="@{/tables/Editor-1.9.2/js/editor.bootstrap.min.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/datetime.js}"></script>
<script th:src="@{/js/jsonpath.js}"></script>
<script th:src="@{/js/sweetalert2.min.js}"></script>
<script th:src="@{/js/admin-scripts.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $('#btn-users').on('click', (event) => {
            openTab(event, 'users', false)
        });
        $('#btn-roles').on('click', (event) => {
            openTab(event, 'roles', false)
        });
        $('#btn-genres').on('click', (event) => {
            openTab(event, 'genres', false)
        });

        let $user_table = $('#user_table');
        let $role_table = $('#role_table');
        let $genre_table = $('#genre_table');
        let $lang = $('#select-lang');
        let $csrf = $("meta[name='_csrf']");

        $user_table.DataTable(
            {
                language: {
                    url: "/tables/translations/" + $lang.val() + ".json"
                },
                ajax: {
                    url: '/admin/users',
                    dataSrc: '',
                },
                columns: [
                    {data: 'id'},
                    {data: 'login'},
                    {data: 'email'},
                    {
                        data: 'blocked',
                        render: function (data, type) {
                            switch (type) {
                                default:
                                    return data;
                                case 'display':
                                    return '<input type="checkbox" ' + (data === true ? 'checked ' : '')
                                           + 'onclick="return false;" style="pointer-events: none"/>';
                                case 'exportXLS': {
                                    let field = (data === 1) ? [[#{true}]] : [[#{false}]];
                                    return field.toString().toUpperCase();
                                }
                                case 'exportCSV':
                                    return (data === true) ? 1 : 0;
                            }
                        }
                    },
                    {
                        data: 'registerDate',
                        render: $.fn.dataTable.render.moment(moment.ISO_8601, 'DD/MM/YYYY HH:mm:ss')
                    },
                    {
                        data: 'lastLoginTime',
                        render: function (data) {
                            if (data === null) {
                                return "-";
                            }
                            return moment(data).format('DD/MM/YYYY HH:mm:ss');
                        }
                    },
                    {
                        data: 'roles', render: function (data, type) {
                            if (type === "exportJSON") {
                                return data;
                            }

                            data.sort(function (a, b) {
                                return a.id - b.id;
                            });

                            let string = data[0].name;

                            for (let i = 1; i < data.length; i++) {
                                string += ", " + data[i].name;
                            }

                            return string;
                        }
                    },
                    {
                        data: null,
                        defaultContent: '<a href="" class="btn-sm btn-primary editor_edit"><i class="glyphicon glyphicon-pencil"></i> '
                            + [[#{edit}]]
                            + '</a>&nbsp;&nbsp;<a href="" class="btn-sm btn-danger editor_remove"><i class="glyphicon glyphicon-trash"></i> '
                            + [[#{delete}]] + '</a>'
                    }
                ],
                autoWidth: false,
                columnDefs: [
                    {"className": "text-center", "targets": "_all"},
                    {"orderable": false, "targets": 7}
                ],
                dom: 'Bfrtlip',
                buttons: [
                    {
                        extend: "create",
                        editor: userTableEditor,
                        text: '<i class="glyphicon glyphicon-plus"></i> ' + [[#{user.add}]],
                        className: "btn btn-success editor",
                        action: function () {
                            userTableEditor.create({
                                title: [[#{user.add}]],
                                buttons: [
                                    {
                                        text: '<i class="glyphicon glyphicon-plus"></i> ' + [[#{add}]],
                                        className: "btn btn-success editor",
                                        action: function () {
                                            this.submit();
                                        }
                                    },
                                    {
                                        text: [[#{cancel}]],
                                        className: "btn btn-danger editor",
                                        action: function () {
                                            this.close();
                                        }
                                    }
                                ],
                                onBackground: "none"
                            });
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="glyphicon glyphicon-download-alt"></i> ' + [[#{export.excel}]],
                        className: "btn btn-success editor",
                        title: [[#{users.list}]],
                        sheetName: [[#{users.list}]],
                        exportOptions: {columns: ":visible:not(:eq(7))", orthogonal: "exportXLS"}
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="glyphicon glyphicon-download-alt"></i> ' + [[#{export.csv}]],
                        className: "btn btn-success editor",
                        title: [[#{users.list}]],
                        exportOptions: {columns: ":visible:not(:eq(7))", orthogonal: "exportCSV"}
                    },
                    {
                        text: '<i class="glyphicon glyphicon-download-alt"></i> ' + [[#{export.json}]],
                        className: "btn btn-success editor",
                        action: function (e, dt, button, config) {
                            let data = dt.buttons.exportData({
                                columns: ":visible:not(:eq(7))",
                                orthogonal: "exportJSON"
                            });

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                [[#{users.list}]]
                            );
                        }
                    }
                ]
            }
        );

        userTableEditor = new $.fn.dataTable.Editor({
            ajax: {
                create: {
                    method: 'POST',
                    url: '/admin/users',
                    headers: {"X-CSRF-TOKEN": $csrf.attr("content")},
                    contentType: 'application/json',
                    data: function (data) {
                        return prepareServerData(data);
                    }
                },
                edit: {
                    method: 'PUT',
                    url: '/admin/users/_id_',
                    headers: {"X-CSRF-TOKEN": $csrf.attr("content")},
                    contentType: 'application/json',
                    data: function (data) {
                        return prepareServerData(data);
                    }
                },
                remove: {
                    method: 'DELETE',
                    url: '/admin/users/_id_',
                    headers: {"X-CSRF-TOKEN": $csrf.attr("content")},
                    contentType: 'application/json',
                    data: function (data) {
                        return JSON.stringify(data);
                    }
                }
            },
            table: "#user_table",
            idSrc: "id",
            fields: [
                {
                    label: [[#{id}]],
                    name: "id",
                    type: "hidden"
                },
                {
                    label: [[#{login.textfield}]],
                    name: "login"
                },
                {
                    label: [[#{email}]],
                    name: "email"
                },
                {
                    label: [[#{blocked}]],
                    name: "blocked",
                    type: "checkbox",
                    separator: "|",
                    unselectedValue: false,
                    options: [
                        {label: '', value: true}
                    ]
                },
                {
                    label: [[#{date.register}]],
                    name: "registerDate",
                    type: "datetime"
                },
                {
                    label: [[#{date.last.login}]],
                    name: "lastLoginTime",
                    type: "datetime"
                },
                {
                    label: [[#{roles.list}]],
                    name: "roles",
                    data: "roles[].id",
                    type: "checkbox",
                    multiple: true
                }
            ]
        });

        $user_table.on('click', 'a.editor_edit', function (e) {
            e.preventDefault();

            userTableEditor.edit($(this).closest('tr'), {
                title: [[#{row.edit}]],
                buttons: [
                    {
                        text: '<i class="glyphicon glyphicon-edit"></i> ' + [[#{update}]],
                        className: "btn btn-success editor",
                        action: function () {
                            this.submit();
                        }
                    },
                    {
                        text: [[#{cancel}]],
                        className: "btn btn-danger editor",
                        action: function () {
                            this.close();
                        }
                    },
                    {
                        text: '<i class="glyphicon glyphicon-refresh"></i> ' + [[#{password.reset}]],
                        className: "btn btn-info editor",
                        action: function () {
                            $('div.DTE_Form_Buttons button').attr("disabled", true);
                            $('div.DTED_Lightbox_Close').css({"pointer-events": "none"});

                            $.ajax({
                                headers: {"X-CSRF-TOKEN": $csrf.attr("content")},
                                url: "/resetpassword",
                                method: "post",
                                data: {
                                    login: this.get('login'),
                                    email: this.get('email')
                                },
                                success: function () {
                                    $('div.DTE_Form_Buttons button').attr("disabled", false);
                                    $('div.DTED_Lightbox_Close').css({"pointer-events": "auto"});
                                    Swal.fire([[#{reset.successful}]], '', 'success');
                                }
                            });
                        }
                    }
                ],
                onBackground: "none"
            });
        });

        $user_table.on('click', 'a.editor_remove', function (e) {
            e.preventDefault();

            userTableEditor.remove($(this).closest('tr'), {
                title: [[#{row.delete}]],
                message: [[#{row.delete.confirm}]],
                buttons: [
                    {
                        text: '<i class="glyphicon glyphicon-trash"></i> ' + [[#{delete}]],
                        className: "btn btn-danger editor",
                        action: function () {
                            this.submit();
                        }
                    },
                    {
                        text: [[#{cancel}]],
                        className: "btn editor",
                        action: function () {
                            this.close();
                        }
                    }
                ],
                onBackground: "none"
            });
        });

        //add 'password' field and hide time fields when adding or editing user
        userTableEditor.on('initCreate initEdit', function () {
            userTableEditor.field("registerDate").hide();
            userTableEditor.field("lastLoginTime").hide();
            userTableEditor.add({
                label: [[#{password}]],
                name: "password",
                type: "password"
            }, "email");
        });

        //remove 'password' field after form close
        userTableEditor.on('closed', function () {
            userTableEditor.clear("password");
        });

        //set password to 'null' if we don't modify it
        userTableEditor.on('preSubmit', function (e, json, type) {
            if (type === "edit" && jsonPath(json, "$.data.*")[0].password === "") {
                jsonPath(json, "$.data.*")[0].password = null;
            }
        });

        //server response must be wrapped inside 'data' node for DataTables
        userTableEditor.on('postSubmit', function (e, json) {
            json.data = [json];
        });

        $role_table.DataTable(
            {
                language: {
                    url: "/tables/translations/" + $lang.val() + ".json"
                },
                ajax: {
                    url: '/admin/roles',
                    dataSrc: '',
                },
                columns: [
                    {data: 'id'},
                    {data: 'name'},
                    {
                        data: null,
                        defaultContent: '<a href="" class="btn-sm btn-primary editor_edit"><i class="glyphicon glyphicon-pencil"></i> '
                            + [[#{edit}]]
                            + '</a>&nbsp;&nbsp;<a href="" class="btn-sm btn-danger editor_remove"><i class="glyphicon glyphicon-trash"></i> '
                            + [[#{delete}]] + '</a>'
                    }
                ],
                columnDefs: [
                    {"width": "40%", "targets": "_all"},
                    {"orderable": false, "targets": 2}
                ],
                autoWidth: false,
                dom: 'Bfrtlip',
                buttons: [
                    {
                        extend: "create",
                        editor: roleTableEditor,
                        text: '<i class="glyphicon glyphicon-plus"></i> ' + [[#{role.add}]],
                        className: "btn btn-success editor",
                        action: function (e, dt, node, config) {
                            roleTableEditor.create({
                                title: [[#{role.add}]],
                                buttons: [
                                    {
                                        text: '<i class="glyphicon glyphicon-plus"></i> ' + [[#{add}]],
                                        className: "btn btn-success editor",
                                        action: function () {
                                            this.submit();
                                        }
                                    },
                                    {
                                        text: [[#{cancel}]],
                                        className: "btn btn-danger editor",
                                        action: function () {
                                            this.close();
                                        }
                                    }
                                ],
                                onBackground: "none"
                            });
                        }
                    },
                    {
                        extend: "excelHtml5",
                        text: '<i class="glyphicon glyphicon-download-alt"></i> ' + [[#{export.excel}]],
                        className: "btn btn-success editor",
                        title: [[#{roles.list}]],
                        sheetName: [[#{roles.list}]],
                        exportOptions: {columns: ":visible:not(:eq(2))"}
                    }
                ]
            }
        );

        roleTableEditor = new $.fn.dataTable.Editor({
            ajax: {
                create: {
                    method: 'POST',
                    url: '/admin/roles',
                    headers: {"X-CSRF-TOKEN": $csrf.attr("content")},
                    contentType: 'application/json',
                    data: function (data) {
                        return prepareServerData(data);
                    }
                },
                edit: {
                    method: 'PUT',
                    url: '/admin/roles/_id_',
                    headers: {"X-CSRF-TOKEN": $csrf.attr("content")},
                    contentType: 'application/json',
                    data: function (data) {
                        return prepareServerData(data);
                    }
                },
                remove: {
                    method: 'DELETE',
                    url: '/admin/roles/_id_',
                    headers: {"X-CSRF-TOKEN": $csrf.attr("content")},
                    contentType: 'application/json',
                    data: function (data) {
                        return JSON.stringify(data);
                    }
                }
            },
            table: "#role_table",
            idSrc: "id",
            fields: [
                {
                    label: [[#{id}]],
                    name: "id",
                    type: "hidden"
                },
                {
                    label: [[#{name}]],
                    name: "name"
                }
            ]
        });

        $role_table.on('click', 'a.editor_edit', function (e) {
            e.preventDefault();

            roleTableEditor.edit($(this).closest('tr'), {
                title: [[#{row.edit}]],
                buttons: [
                    {
                        text: '<i class="glyphicon glyphicon-edit"></i> ' + [[#{update}]],
                        className: "btn btn-success editor",
                        action: function () {
                            this.submit();
                        }
                    },
                    {
                        text: [[#{cancel}]],
                        className: "btn btn-danger editor",
                        action: function () {
                            this.close();
                        }
                    }
                ],
                onBackground: "none"
            });
        });

        $role_table.on('click', 'a.editor_remove', function (e) {
            e.preventDefault();

            roleTableEditor.remove($(this).closest('tr'), {
                title: [[#{row.delete}]],
                message: [[#{row.delete.confirm}]],
                buttons: [
                    {
                        text: '<i class="glyphicon glyphicon-trash"></i> ' + [[#{delete}]],
                        className: "btn btn-danger editor",
                        action: function () {
                            this.submit();
                        }
                    },
                    {
                        text: [[#{cancel}]],
                        className: "btn editor",
                        action: function () {
                            this.close();
                        }
                    }
                ],
                onBackground: "none"
            });
        });

        roleTableEditor.on('postSubmit', function (e, json) {
            json.data = [json];
        });

        roleTableEditor.on('submitSuccess', function (e, json, data, action) {
            let role = {};
            role["id"] = json["id"];
            role["name"] = json["name"];

            //update local roleList after changes
            if (action === 'create') {
                roleList.push(role);
            } else if (action === 'edit') {
                let i = roleList.findIndex(function (element) {
                    return element["id"] === json["id"];
                });
                roleList[i] = role;
            } else if (action === 'remove') {
                $.getJSON("/admin/roles").done(function (data) {
                    $.each(data, function (key, value) {
                        delete value["users"];
                    });
                    roleList = data;
                });
            }
        });

        $genre_table.DataTable(
            {
                language: {
                    url: "/tables/translations/" + $lang.val() + ".json"
                },
                ajax: {
                    url: '/admin/genres',
                    dataSrc: '',
                },
                columns: [
                    {data: 'id'},
                    {data: 'name'},
                    {
                        data: null,
                        defaultContent: '<a href="" class="btn-sm btn-primary editor_edit"><i class="glyphicon glyphicon-pencil"></i> '
                            + [[#{edit}]]
                            + '</a>&nbsp;&nbsp;<a href="" class="btn-sm btn-danger editor_remove"><i class="glyphicon glyphicon-trash"></i> '
                            + [[#{delete}]] + '</a>'
                    }
                ],
                columnDefs: [
                    {"width": "40%", "targets": "_all"},
                    {"orderable": false, "targets": 2}
                ],
                autoWidth: false,
                dom: 'Bfrtlip',
                buttons: [
                    {
                        extend: "create",
                        editor: genreTableEditor,
                        text: '<i class="glyphicon glyphicon-plus"></i> ' + [[#{genre.add}]],
                        className: "btn btn-success editor",
                        action: function (e, dt, node, config) {
                            genreTableEditor.create({
                                title: [[#{genre.add}]],
                                buttons: [
                                    {
                                        text: '<i class="glyphicon glyphicon-plus"></i> ' + [[#{add}]],
                                        className: "btn btn-success editor",
                                        action: function () {
                                            this.submit();
                                        }
                                    },
                                    {
                                        text: [[#{cancel}]],
                                        className: "btn btn-danger editor",
                                        action: function () {
                                            this.close();
                                        }
                                    }
                                ],
                                onBackground: "none"
                            });
                        }
                    },
                    {
                        extend: "excelHtml5",
                        text: '<i class="glyphicon glyphicon-download-alt"></i> ' + [[#{export.excel}]],
                        className: "btn btn-success editor",
                        title: [[#{genres.list}]],
                        sheetName: [[#{genres.list}]],
                        exportOptions: {columns: ":visible:not(:eq(2))"}
                    }
                ]
            }
        );

        genreTableEditor = new $.fn.dataTable.Editor({
            ajax: {
                create: {
                    method: 'POST',
                    url: '/admin/genres',
                    headers: {"X-CSRF-TOKEN": $csrf.attr("content")},
                    contentType: 'application/json',
                    data: function (data) {
                        return prepareServerData(data);
                    }
                },
                edit: {
                    method: 'PUT',
                    url: '/admin/genres/_id_',
                    headers: {"X-CSRF-TOKEN": $csrf.attr("content")},
                    contentType: 'application/json',
                    data: function (data) {
                        return prepareServerData(data);
                    }
                },
                remove: {
                    method: 'DELETE',
                    url: '/admin/genres/_id_',
                    headers: {"X-CSRF-TOKEN": $csrf.attr("content")},
                    contentType: 'application/json',
                    data: function (data) {
                        return JSON.stringify(data);
                    }
                }
            },
            table: "#genre_table",
            idSrc: "id",
            fields: [
                {
                    label: [[#{id}]],
                    name: "id",
                    type: "hidden"
                },
                {
                    label: [[#{name}]],
                    name: "name"
                }
            ]
        });

        $genre_table.on('click', 'a.editor_edit', function (e) {
            e.preventDefault();

            genreTableEditor.edit($(this).closest('tr'), {
                title: [[#{row.edit}]],
                buttons: [
                    {
                        text: '<i class="glyphicon glyphicon-edit"></i> ' + [[#{update}]],
                        className: "btn btn-success editor",
                        action: function () {
                            this.submit();
                        }
                    },
                    {
                        text: [[#{cancel}]],
                        className: "btn btn-danger editor",
                        action: function () {
                            this.close();
                        }
                    }
                ],
                onBackground: "none"
            });
        });

        $genre_table.on('click', 'a.editor_remove', function (e) {
            e.preventDefault();

            genreTableEditor.remove($(this).closest('tr'), {
                title: [[#{row.delete}]],
                message: [[#{row.delete.confirm}]],
                buttons: [
                    {
                        text: '<i class="glyphicon glyphicon-trash"></i> ' + [[#{delete}]],
                        className: "btn btn-danger editor",
                        action: function () {
                            this.submit();
                        }
                    },
                    {
                        text: [[#{cancel}]],
                        className: "btn editor",
                        action: function () {
                            this.close();
                        }
                    }
                ],
                onBackground: "none"
            });
        });

        genreTableEditor.on('postSubmit', function (e, json) {
            json.data = [json];
        });

        //add all available user roles to editor
        loadRoles();
    });
</script>
</body>
</html>