<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:replace="head::head"></object>
</head>
<body>
<nav th:replace="menu::menu"></nav>
<div class="centered form">
    <h1 style="padding-bottom: 10px"><span th:text="#{change.password.title}"></span></h1>
    <form method="post" th:action="@{/changepassword}" th:object="${pass}">
        <table>
            <tr>
                <td class="alert alert-danger" style="font-weight: bold" th:if="${#fields.hasAnyErrors()}"
                    th:utext="${#fields.allErrors()[0]}"></td>
                <td class="alert alert-success" style="font-weight: bold" th:if="${success}">
                    <i class="glyphicon glyphicon-ok"></i> <span th:text="#{change.password.success}"></span></td>
            </tr>
            <tr>
                <td style="padding-top: 20px; padding-bottom: 20px">
                    <div class="input-group">
                        <span class="input-group-addon" id="oldpass"><i class="glyphicon glyphicon-lock"></i></span>
                        <input aria-describedby="oldpass" autofocus class="form-control"
                               style="width: 200px" th:field="*{oldPassword}" th:placeholder="#{current.password}"
                               type="password"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 20px">
                    <div class="input-group">
                        <span class="input-group-addon" id="newpass"><i class="glyphicon glyphicon-lock"></i></span>
                        <input aria-describedby="newpass" class="form-control" style="width: 200px"
                               th:field="*{newPassword}" th:placeholder="#{new.password}" type="password"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 40px">
                    <div class="input-group">
                        <span class="input-group-addon" id="confirmpass"><i class="glyphicon glyphicon-lock"></i></span>
                        <input aria-describedby="confirmpass" class="form-control" style="width: 200px"
                               th:field="*{confirmNewPassword}" th:placeholder="#{confirm.new.password}" type="password"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input class="btn btn-primary" th:value="#{change.password.button}" type="submit"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>