<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:replace="head::head"></object>
    <link rel="stylesheet" th:href="@{/css/tabs.css}">
    <link rel="stylesheet" th:href="@{/tables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/tables/Editor-1.9.2/css/editor.bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/selectize.bootstrap3.min.css}">
</head>
<body>
<nav th:replace="menu::menu"></nav>
<div class="centered-top">
    <div class="tabs-vertical">
        <button class="tab-button" id="btn-rcvd" th:text="#{messages.received}"></button>
        <button class="tab-button" id="btn-sent" th:text="#{messages.sent}"></button>
    </div>
    <div class="tab-ver-content" id="msg-rcvd-tab">
        <table class="table table-striped" id="table-msg-rcvd">
            <thead>
            <tr>
                <th></th>
                <th th:text="#{msg.from}"></th>
                <th th:text="#{msg.time}"></th>
                <th th:text="#{message}"></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tab-ver-content" id="msg-sent-tab">
        <table class="table table-striped" id="table-msg-sent">
            <thead>
            <tr>
                <th th:text="#{msg.to}"></th>
                <th th:text="#{msg.time}"></th>
                <th th:text="#{message}"></th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script th:src="@{/tables/datatables.min.js}"></script>
<script th:src="@{/tables/Editor-1.9.2/js/dataTables.editor.min.js}"></script>
<script th:src="@{/tables/Editor-1.9.2/js/editor.bootstrap.min.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/datetime.js}"></script>
<script th:src="@{/js/jsonpath.js}"></script>
<script th:src="@{/js/messages.js}"></script>
<script th:src="@{/js/selectize.min.js}"></script>
<script th:src="@{/js/editor.selectize.min.js}"></script>
<script th:inline="javascript">
    let msgReceived = [];
    let msgSent = [];
    let currentUser = [[${#authentication.name}]];
    let lang = $('#select-lang');
    let editor;
    let users = [];

    //change tabs between received and sent messages
    $('#btn-rcvd').on('click', (event) => {
        openTab(event, 'msg-rcvd-tab', true)
    }).click();

    $('#btn-sent').on('click', (event) => {
        openTab(event, 'msg-sent-tab', true);
        $('#table-msg-sent').css({"width": "100%"});
        $.fn.dataTable.tables({visible: true, api: true}).columns.adjust();
    });

    //get all messages for current user and assign them to proper arrays
    $.get("/api/messages/all").done(function (data) {
        $.each(data, function (index, value) {
            if (value.sender.login === currentUser) {
                msgSent.push(value);
            } else {
                msgReceived.push(value);
            }
        });

        $('#table-msg-rcvd').DataTable(
            {
                language: {
                    url: "/tables/translations/" + lang.val() + ".json"
                },
                data: msgReceived,
                columns: [
                    {   //add icon to unread messages
                        data: null,
                        render: function (data, type, row) {
                            return !row.read ? '<i class="glyphicon glyphicon-exclamation-sign" style="font-size: x-large"></i>'
                                             : null;
                        }
                    },
                    {
                        data: 'sender.login'
                    },
                    {
                        data: 'sendTime',
                        render: $.fn.dataTable.render.moment(moment.ISO_8601, 'DD/MM/YYYY HH:mm:ss')
                    },
                    {
                        data: 'text',
                        render: function (data) {
                            return renderMessage(data);
                        }
                    }
                ],
                autowidth: false,
                order: [2, "desc"],
                columnDefs: [
                    {"className": "text-center", "targets": "_all"},
                    {"width": "1%", "targets": 0},
                    {"width": "14%", "targets": [1, 2]},
                    {"orderable": false, "targets": 0}
                ],
                dom: 'Bfrtlip',
                buttons: [
                    {extend: 'newMessage'}
                ],
                //embolden rows containing unread messages
                createdRow: function (row, data) {
                    if (!data.read) {
                        $(row).addClass('unread');
                    }
                }
            });

        $('#table-msg-sent').DataTable(
            {
                language: {
                    url: "/tables/translations/" + lang.val() + ".json"
                },
                data: msgSent,
                columns: [
                    {data: 'receiver.login'},
                    {
                        data: 'sendTime',
                        render: $.fn.dataTable.render.moment(moment.ISO_8601, 'DD/MM/YYYY HH:mm:ss')
                    },
                    {
                        data: 'text',
                        render: function (data) {
                            return renderMessage(data);
                        }
                    }
                ],
                autowidth: false,
                order: [1, "desc"],
                columnDefs: [
                    {"className": "text-center", "targets": "_all"},
                    {"width": "15%", "targets": [0, 1]}
                ],
                dom: 'Bfrtlip',
                buttons: [
                    {extend: 'newMessage'}
                ]
            }
        );

        editor = new $.fn.dataTable.Editor({
            ajax: {
                create: {
                    method: 'POST',
                    url: '/api/messages',
                    headers: {"X-CSRF-TOKEN": $("meta[name='_csrf']").attr("content")},
                    contentType: 'application/json',
                    data: function (data) {
                        return JSON.stringify(jsonPath(data, "$.data.*")[0]);
                    }
                },
            },
            table: "#table-msg-sent",
            fields: [
                {
                    label: [[#{msg.to}]],
                    name: "receiver.login",
                    type: "selectize",
                    opts: {
                        loadThrottle: null,
                        highlight: false,
                        openOnFocus: false,
                        maxOptions: 5,
                        valueField: 'login',
                        labelField: 'login',
                        searchField: 'login',
                        load: function (query, callback) {
                            //show hints after typing at least 2 characters
                            if (query.length <= 2) {
                                return callback();
                            }
                            let output = users.filter(function (u) {
                                return u.login.includes(query);
                            });
                            callback(output);
                        }
                    },
                },
                {
                    label: [[#{message}]],
                    name: "text",
                    type: "textarea"
                }
            ]
        });

        //get logins of all users after opening new message window
        editor.on('initCreate', function () {
            $.get("/api/messages/users").done(function (data) {
                users = data.map(function (e) {
                    return {login: e};
                });
            });
        });

        editor.on('postSubmit', function (e, json) {
            json.data = [json];
        });

        $.fn.dataTable.ext.buttons.newMessage = {
            extend: 'create',
            editor: editor,
            text: '<i class="glyphicon glyphicon-envelope"></i> ' + [[#{new.msg}]],
            className: "btn btn-success message",
            action: function () {
                editor.create({
                    title: [[#{new.msg}]],
                    buttons: [
                        {
                            text: '<i class="glyphicon glyphicon-send"></i> ' + [[#{send.msg}]],
                            className: "btn btn-success editor",
                            action: function () {
                                this.submit();
                            }
                        },
                        {
                            text: [[#{cancel}]],
                            className: "btn btn-danger editor",
                            action: function () {
                                this.close();
                            }
                        }
                    ],
                    onBackground: "none"
                });
            }
        };

        //after opening this screen set all received messages as read
        setMessagesRead(msgReceived);
    });
</script>
</body>
</html>