<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:replace="head::head"></object>
</head>
<body>
<nav th:replace="menu::menu"></nav>
<div class="centered form">
    <h1 style="padding-bottom: 10px"><span th:text="#{reset.password.title}"></span></h1>
    <form method="post" th:action="@{/resetpassword}" th:object="${resetPassword}">
        <table>
            <tr>
                <td class="alert alert-danger" style="font-weight: bold" th:if="${#fields.hasAnyErrors()}"
                    th:text="${#fields.allErrors()[0]}"></td>
                <td class="alert alert-success" style="font-weight: bold" th:if="${success}">
                    <i class="glyphicon glyphicon-ok"></i> <span th:text="#{reset.successful}"></span></td>
            </tr>
            <tr>
                <td style="padding-top: 20px; padding-bottom: 20px">
                    <div class="input-group">
                        <span class="input-group-addon" id="login"><i class="glyphicon glyphicon-user"></i></span>
                        <input aria-describedby="login" autofocus class="form-control"
                               style="width: 200px" th:field="*{login}" th:placeholder="#{login.textfield}"
                               type="text"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-bottom: 20px">
                    <div class="input-group">
                        <span class="input-group-addon" id="email"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input aria-describedby="email" class="form-control" style="width: 200px"
                               th:field="*{email}" th:placeholder="#{email}" type="text"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input class="btn btn-primary" th:value="#{password.reset}" type="submit"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>